/* dispositivi xs max 575px */
@media screen and (max-width: 575px) {
  nav {
    max-width: 70px;
    height: calc(100% - 70px);
  }
  .nav_d_flex {
    width: 70px;
    margin: 0 auto;
  }
  main {
    float: left;
    height: calc(100% - 70px);
    width: calc(100% - 70px);
  }
  .row {
    /* width: calc(100% - 70px); */
    justify-content: center;
  }
  .logo, .menu_pulsanti, .playlist_utente, .profilo_utente 
  {
  display: none;
  }
  .icone img
  {
    display: block;  
  }
  .titoli_copertina, .likes
  {
    /* flex-direction: column; */
    display: none;
  }
  .vol_bar{
    display: none;
  }
  .controller a 
  {
    margin: 0 15px;
  }
  .volume a {
    margin: 0px 2px;
  }
}
/* dispositivi s tablet min 576 a max 767 */
@media screen and (max-width:767px) {
  .likes
  {
    flex-direction: column;
    margin: 2px;
  }
  .vol_bar
  {
    display: none;
  }
  .copertina img ,.titoli_copertina, .likes
  {
    margin: 3px;
  }
  .likes> a > i
  {
    font-size: 10px;
  }
  .controller a 
  {
    margin: 0 20px;
  }
  .volume a
  {
    margin: 0px 3px;
  }
  .volume a > i
  {
    font-size: 12px;
  }

}
/* nasconde barra log-in per altezze al disotto di 467px */
@media screen and (max-height: 467px){
  .barra_pulsante
  {
    display: none;
  }
}


/* dispositivi md laptop min 768 a max 991 */
/* dispositivi l laptop L min 992 a max 1199 */
/* dispositivi xl 4k xL min 1200 a max.. */

